@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>Stores and analyzes the data collected from the final quality checks of the manufactured products.
       EOL inspection is a crucial step in the manufacturing process, as it ensures that the products meet the specifications and are free of defects.
       EOL inspection can also help to identify and correct any issues in the production process, improve efficiency, and reduce costs.</p>
</main>