@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row">
        <h1 id="title">End of Line Inspection</h1>
        <p class="lead">To store information for inspection traceability, to be performed at the end-of-line (EOL).</p>
    </section>

    <div class="row">
        <section class="col-md-4">
            <h2>Purpose</h2>
            <p>
                The EOL inspection is a crucial part of the manufacturing process.
                It’s the final opportunity for manufacturers to ensure that the final product handed
                over to the buyer or customer has zero defects.
            </p>
        </section>
        <section class="col-md-4">
            <h2>Corrective Actions</h2>
            <p>
                The EOL inspection helps in detecting defective products quicker and taking corrective action as early as possible.
                This minimizes quality issues and offers manufacturers insights on how to increase the overall quality of the production process.
            </p>
        </section>
        <section class="col-md-4">
            <h2>First-Pass-Yield</h2>
            <p>
                Carrying out a highly efficient inspection helps the company reduce the return rate and thus increase the return on investment.
                An EOL database can automatically generate metrics and charts for tracking the first-pass-yield (FPY).
            </p>
        </section>
    </div>
</main>